<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% csrf_token %}
    <head>
        {% include "_partials/header.html" %}
    </head>
    <body>
        <main>
            {%block content%}

            {%endblock content%}
        </main>
        <footer>        
            <div class="ui inverted vertical footer segment">
                <div class="ui container">
                    <p style="text-align: center;">&copy; 2021 Cinema E Booking System</p>
                </div>
            </div>
        </footer>
    </body>
</html>