<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% csrf_token %}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>
            {% block title %}

            {% endblock %}
        
        </title>
    </head>
    <body>
        {% include "_partials/header.html" %}
        {%block content%}
        {%endblock content%}
        {% include "_partials/footer.html" %}
    </body>
</html>