{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<header style="display: block; background-color:black;">
  <h5 style="text-align: center; color: white; font-size: 100%; font-family: Nunito;">
    Come watch the latest movie releases! {{request.user.email}}
  </h5>
</header>
<div class="ui menu">
  <div class="ui container">
    <a href={% url 'home' %} class="header item">
      <img class="logo" style="width:60px; height: 30px;" src= {% static 'img/logo.png' %} />
    </a>
    <div class="left item">
      Welcome to CES Movie Bookings
    </div>
    <div class="right item">
      <i class="search icon"></i>
      <div class="ui item"><a class="ui button">Search Movies</a></div>
      {% if request.user.is_authenticated %}
      <a href={% url 'profile' %} class="ui primary button">My Profile</a>
      <div class="ui item">
        <a href="" class="ui primary button">My Bookings</a>
        </div>
      <div class="ui simple dropdown item">
         {{request.user.username}} <i class="dropdown icon"></i>
        <div class="menu">
        <form class="ui large form" method="post" action="{% url 'logout_user'%}">
          {% csrf_token %}
         <input class="ui button"
              type="submit"
              value="Sign out"
            />
          </form>
        </div>
      </div>

      {% else %}
      <div class="ui item">
        <i class="user round icon"></i>
      <a href="{% url 'login' %}" class="ui primary button">Login</a>
      </div>

      <div class="ui item">
        <i class="user plus icon"></i>
      <a href="{% url 'register' %}" class="ui primary button">Register</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>