body{
    font-family: Nunito;
    border: 1px solid black;
    padding:0em;
    margin:0em;
    height:auto;
}
p {
    text-align: center;
    margin-top:5px;
}
footer{
    display:block;
    border: 1px solid black;
    padding-top:10px;
    background-color:black;
}
span{
    color:white;
    font-size: 13px;
}
