@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Comfortaa:wght@300&family=Pacifico&display=swap&family=Nunito&display=swap');

#center{
    margin-left: 10em;
    margin-top: 5em;
    margin-right:10em;
}

p {
    text-align: center;
    margin-top:5px;
}

h2 {
    margin-bottom: 0.5em;
    padding-top: 0.9em;
    text-align:center;
    height:50px;
    color: white;
}

.row {
    float:clear;
    padding-bottom: 3em;
    height:460px;
}

.listing {
    float:left;
    padding: 10px;
    max-width: 200px;
    margin-left: 57px;
}

img {
    max-height: 300px;
}

h3 {
    margin-bottom: 0.5em;
    padding: 0em;
    text-align:center;
    color:white;
}

h4 {
    margin:0;
    padding:0;
    text-align:center;
    color:white;
}

.get {
    margin-left: 5em;
    margin-top: 5px;
    background-color: white;
    font-family: Nunito;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 80%;
    
}

footer{
    display:block;
    border: 1px solid black;
    padding-top:10px;
    background-color:black;
}

span{
    color:white;
    font-size: 13px;
}