@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Comfortaa:wght@300&family=Pacifico&display=swap&family=Nunito&display=swap');

body{
    font-family: Nunito;
    border: 1px solid black;
    padding:0em;
    margin:0em;
    height:auto;
}

header{
    display: block;
    background-color:black;
    border: 1px solid black;
    padding: 0.5em;
}

header h5{
    text-align: center;
    color: white;
    font-size: 100%;
    font-family: Nunito;
    padding:0em;
    margin: 0em;
}

#mainlist{
    color:black;
    margin-top: 2em;
    border: none;
}

#sideicon {
    margin-top: 2em;
    border: none;
    float:right;
    margin-left:2em;
}

#search {
    margin-top: 2.7em;
    float:right;
    border: 1px solid lightgray;
    padding: 0.5em;
}

#searchbutton {
    margin-top: 2.7em;
    float:right;
    border: 1px solid lightgray;
    background-color: lightgray;
}

.menu {
    height: 100px;
    padding-left: 5em;
    padding-right: 5em;
    position: relative;
    z-index: 1;
}

#logo {
    max-width: 60px;
    padding: 1em;
    margin-right: 23em;
    float:left;
    height:auto;
}

#icon {
    max-width: 25px;
}

.menu ul{
    list-style: none;
    margin:0;
    padding:0;
}

.menu li{
    width:120px;
    margin:0;
    text-align:center;
    float: left;
}

.menu a {
    font-weight: 600;
    font-size: 100%;
    color:black;
    background-color: white;
    border: 2px solid black;
    display:block;
    padding:10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
}

.menu a:hover {
    background-color: #AFAFAF;
}

.one {
    position:relative;
}

.two {
    padding:0;
    margin:0;
    display: none;
    position:absolute;
}
.two li {
    clear:left;
}

.one li:hover .two {
    display:block;
}

main{
    border: 1px solid black;
    padding-top:0;
    padding-bottom: 2em;
    background-color:black;
}

a:link{
    text-decoration: none;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(res/rings.png);
    height: 500px;;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    font-family: Chewy;
    font-size: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#shopbutton {
    padding-top:.5em;
    padding-bottom:.5em;
    padding-left:1em;
    padding-right:1em;
    background-color: white;
    font-family: Nunito;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 60%;
    color: black;
}

#center{
    margin-left: 10em;
    margin-top: 5em;
    margin-right:10em;
}

p {
    text-align: center;
    margin-top:5px;
}

h2 {
    margin-bottom: 0.5em;
    padding-top: 0.9em;
    text-align:center;
    height:50px;
    color: white;
}

.row {
    float:clear;
    padding-bottom: 3em;
    height:460px;
}

.listing {
    float:left;
    padding: 10px;
    max-width: 200px;
    margin-left: 57px;
}

img {
    max-height: 300px;
}

h3 {
    margin-bottom: 0.5em;
    padding: 0em;
    text-align:center;
    color:white;
}

h4 {
    margin:0;
    padding:0;
    text-align:center;
    color:white;
}

.get {
    margin-left: 5em;
    margin-top: 5px;
    background-color: white;
    font-family: Nunito;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 80%;
    
}

footer{
    display:block;
    border: 1px solid black;
    padding-top:10px;
    background-color:black;
}

span{
    color:white;
    font-size: 13px;
}
