@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Comfortaa:wght@300&family=Pacifico&display=swap&family=Nunito&display=swap');

body{
    font-family: Nunito;
    border: 1px solid black;
    padding:0em;
    margin:0em;
    height:auto;
}

header{
    display: block;
    background-color:black;
    border: 1px solid black;
    padding: 0.5em;
}

header h5{
    text-align: center;
    color: white;
    font-size: 100%;
    font-family: Nunito;
    padding:0em;
    margin: 0em;
}


/*************** *******/

/* STYLE OF MENU */

/*************** *******/


#mainlist{
    color:black;
    margin-top: 2em;
    border: none;
}

#sideicon {
    margin-top: 2em;
    border: none;
    float:right;
    margin-left:2em;
}

#search {
    margin-top: 2.7em;
    float:right;
    border: 1px solid lightgray;
    padding: 0.5em;
}

#searchbutton {
    margin-top: 2.7em;
    float:right;
    border: 1px solid lightgray;
    background-color: lightgray;
}

.menu {
    height: 65px;
    padding-left: 5em;
    padding-right: 5em;
    position: relative;
    z-index: 1;
}

#logo {
    max-width: 60px;
    padding: 1em;
    margin-right: 23em;
    float:left;
    height:auto;
}

#icon {
    max-width: 25px;
}

.menu ul{
    list-style: none;
    margin:0;
    padding:0;
}

.menu li{
    width:120px;
    margin:0;
    text-align:center;
    float: left;
}

.menu a {
    font-weight: 600;
    font-size: 100%;
    color:black;
    background-color: white;
    border: 2px solid black;
    display:block;
    padding:10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
}

.menu a:hover {
    background-color: #AFAFAF;
}

.one {
    position:relative;
}

.two {
    padding:0;
    margin:0;
    display: none;
    position:absolute;
}
.two li {
    clear:left;
}

.one li:hover .two {
    display:block;
}

a:link{
    text-decoration: none;
}


/*************** *******/

/* STYLE OF BODY OF PAGE */

/*************** *******/

main{
    height: 700px;
    border: 1px solid black;
    padding-top:0;
    padding-bottom: 2em;
    background-color:black;
}

img {
    width: 300px;
    border-radius: 50px;
}

#userdetails {
    padding: 8em;
    padding-top: 5em;
    text-align:center;
    
}

h1 {
    margin-bottom: 3em;
    color:white;
}

h3 {
    color:white;
    margin: 10px;
    margin-bottom: 2em;
}

#profilebutton {
    color: black;
    background-color: white;
    font-family: Nunito;
    border-radius: 50px;
    padding: 7px;
    font-size: 1.4em;
    padding-left: 2em;
    padding-right: 2em;
}

#historybutton {
    color: black;
    background-color: white;
    font-family: Nunito;
    border-radius: 50px;
    padding: 7px;
    font-size: 1.4em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/*************** *******/

/* STYLE OF FOOTER OF PAGE */

/*************** *******/

p {
    text-align: center;
    margin-top:5px;
}

footer{
    display:block;
    border: 1px solid black;
    padding-top:10px;
    background-color:black;
}

span{
    color:white;
    font-size: 13px;
}
