{% extends '_partials/base.html' %} {% load static %}
{% block title %}
    Login
{% endblock %}

{% block content %}

<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui middle aligned center aligned grid">
      <div class="column mt-5">
        <h2 class="ui teal image header">
          <img src={% static 'img/logo.png' %} class="image" />
          <div class="content">Log-in</div>
        </h2>

          {% include '_partials/messages.html'%}

        <form class="ui large form" method="post" action={% url 'login' %}>
        {% csrf_token %}
        
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" required name="username" placeholder="Username" value="{{ data.username }}" />
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" required name="password" placeholder="Password" />
              </div>
            </div>
            <button class="ui fluid large teal submit button">Login</button>
          </div>

        </form>
        {% if user.is_authenticated %}
        <div>
          <a href={% url 'retry_activation' uidb64=uid %}>Resend Activation Link</a>
        </div>
        {% endif %}
        <div class="ui message">Dont have an account? <a href={% url 'register'  %}>Signup</a>
         <br>                       Forgot Password? <a href={% url 'reset_password' %}>Reset Password</a></div>
      </div>
    </div>
    <div class="four wide column" style="padding-bottom: 360px;"></div>
  </div>
</div>
{% endblock content %}
