{% extends '_partials/base.html' %} {% load static %}
{% block title %}
    Reset Forgotten Password
{% endblock %}

{% block content %}
<h3 style="padding-left: 20px;padding-right: 20px; text-align: center;">Password reset link sent</h3>
<h5 style="padding-left: 20px;padding-right: 20px;">
We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h5>

<div class="ui message" style="padding-top: 100px;">
    <a href={% url 'home' %}>
        <button class="ui left labeled icon button">
            <i class="arrow alternate circle left icon">
            </i>
                Return Home
        </button>
    </a>
</div>
{% endblock %}