{% extends '_partials/base.html' %} {% load static %}
{% block title %}
    Reset Forgotten Password
{% endblock %}

{% block content %}
<h3 style="padding-left: 20px;padding-right: 20px; text-align: center;">Password Reset</h3>

<form method="post">
    {% csrf_token %}
    <div class="ui message" style="padding-top: 10px; text-align: center;">
        {{form.as_p}}
    <div>
        <i class="key icon"></i>
        <input type="submit" name="reset_password">
    </div>
            
    </div>
</form>
{% endblock %}