{% extends '_partials/base.html' %} {% load static %}{% load crispy_forms_tags %}
{% block title %}
    Change Password
{% endblock %}

{% block content %}
<h3 style="padding-left: 20px;padding-right: 20px; text-align: center;">Change Password</h3>

<form method="post">
    {% csrf_token %}
    <div style="padding-left: 640px;" class="ui message">
        {{form|crispy}}
    <div style="padding-top: 20px;">
        <i class="key icon"></i>
        <input type="submit" name="change_password">
    </div>
            
    </div>
</form>
{% endblock %}