{% extends '_partials/base.html' %} {% load static %}
{% block title %}
    Reset Forgotten Password
{% endblock %}

{% block content %}
<h3 style="padding-left: 20px;padding-right: 20px; text-align: center;">Password Reset Complete!</h3>
<h5 style="padding-left: 20px;padding-right: 20px;">
    Your password reset was successful, you can login with the new password.
</h5>
    <div class="ui message" style="padding-top: 100px;">
        <a href={% url 'login' %}>
            <button style="align-self: center;" class="ui left labeled icon button">
                <i class="user icon"></i>Login</button>
        </a>
    </div>

{% endblock %}