{% extends '_partials/base.html' %}{% load static %}{% load crispy_forms_tags %}
{% block title %}
Payments Add {{user.username}}
{% endblock %}

{% block content %}
<h1 style="text-align: center;">Saved Card Details</h1>
<div class="ui relaxed grid">
    <div class="three column row">
      <div class="column">
        {% if user.card_no %}
        <div class="ui two column grid">
            <div class="column" style="background-color: #349239;color: #FFFFFF;">
                {%if user.card_no %}
                <p> Card Detail   xxxx-xxxx-xxxx-{{user.card_no|slice:"12:16"}}</p>
                {% endif %}
            </div>
            <div class="column row">
              <div class="column" style="background-color: #349239;color: #FFFFFF;">Expiry : {{user.valid_thru}}-{{user.valid_thru_y}}</div>
              <div class="column"></div>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="column">
        {% if user.card_no2 %}
        <div class="ui two column grid" >
          <div class="column" style="background-color: #349239;color: #FFFFFF;">
              {%if user.card_no2 %}
              <p> Card Detail   xxxx-xxxx-xxxx-{{user.card_no2|slice:"12:16"}}</p>
              {% endif %}
          </div>
          <div class="column row">
            <div class="column" style="background-color: #349239;color: #FFFFFF;" >Expiry : {{user.valid_thru1}}-{{user.valid_thru_y1}}</div>
            <div class="column"></div>
          </div>
        </div>
        {%endif%}
      </div>
      <div class="column">
        {% if user.card_no3 %}
        <div class="ui two column grid">
          <div class="column" style="background-color: #349239;color: #FFFFFF;">
              {%if user.card_no3 %}
              <p> Card Detail   xxxx-xxxx-xxxx-{{user.card_no3|slice:"12:16"}}</p>
              {% endif %}
          </div>
          <div class="column row">
            <div class="column" style="background-color: #349239;color: #FFFFFF;">Expiry : {{user.valid_thru2}}-{{user.valid_thru_y2}}</div>
            <div class="column"></div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>


  
<!-- <form method="post">
    {% csrf_token %}
    <div>
        {{form|crispy}}
    <div>
        <button type="submit">Submit</button>
    </div>
    </div>
</form> -->

<form style="padding-left: 600px;"method="post" action={% url 'addpay' %} novalidate>
    {% csrf_token %}
    <h1 style="text-align: center;">Add Edit Card</h1>
    {{ form.non_field_errors }}
  
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}
  
    <table border="1">
      {% for field in form.visible_fields %}
        <tr>
          <th>{{ field.label_tag }}</th>
          <td>
            {{ field.errors }}
            {{ field }}
            {{ field.help_text }}
          </td>
        </tr>
      {% endfor %}
    </table>
  
    <button style="color: white;
    background-color: black;
    font-family: Nunito;
    border-radius: 25px;
    padding: 7px;
    font-size: 1em;
    padding-left: 2em;
    padding-right: 2em; margin-left: 70px; margin-top: 20px; margin-bottom: 20px;" type="submit">Submit</button>
    <div style="margin-bottom: 30px;"><a href="{% url 'addpay1' %}">Add/edit Another Payment Card</a></div>
  </form>

{% endblock %}


